<ion-slides #slides pager="true">
  <ion-slide class="step-one">
    <ion-img src="/assets/slides/icon/favicon.png"></ion-img>
    <h1>Explore your restaurant and orders</h1>
    <p>Explore all your costumers and orders from then. Change restaurant details when needed, and keep your restaurant up to date anytime!</p>
    <ion-button color="danger" (click)="next()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="/assets/slides/icon/favicon.png"></ion-img>
    <h1>Explore your restaurant and orders</h1>
    <p>Explore all your costumers and orders from then. Change restaurant details when needed, and keep your restaurant up to date anytime!</p>
    <ion-button color="danger" (click)="next()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="/assets/slides/icon/favicon.png"></ion-img>
    <h1>Explore your restaurant and orders</h1>
    <p>Explore all your costumers and orders from then. Change restaurant details when needed, and keep your restaurant up to date anytime!</p>
    <ion-button color="danger" (click)="finish()">Let's begin!</ion-button>
  </ion-slide>

</ion-slides>